.editor-container {
  flex: 1 1 $editor-width;
  max-width: 100%;

  @include max-screen($screen-l) {
    margin: 0 auto;
  }

  @include min-screen($screen-l) {
    padding: 0 $base-unit;

    .active-slide .gallery-container + & {
      flex: 0 1 $editor-width;
      padding: 0;
    }
  }
}

.editor {
  line-height: ms-line-height(0);
  margin: 0 auto;

  &,
  h1,
  h2,
  h3 {
    font-family: $editor-font-family;
  }

  h2 {
    line-height: $base-unit * 1.25;
    margin-bottom: $base-unit;
  }

  p {
    margin-bottom: $base-unit * .5;
  }

  .canvas {
    background: $bg-color;
    min-height: $base-unit * 19;
    text-align: left;
    padding: $base-unit * 1.5 $base-unit * .75;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow;

    @include min-screen($screen-l) {
      padding: $base-unit * 2;
    }

    .user-inserted-text {
      word-wrap: break-word;
    }
  }

  // JIŘÍ: pro JAKUB Co je a kde se vyskytuje .status?
  .status {
    opacity: 0;
    margin-top: 2em;
    /* temp: */
  }

  .status.active {
    animation: notification 6s;
  }

  a {
    color: $text-color;
  }

  h1 {
    line-height: ms-line-height(3);
  }

}

// JIŘÍ pro JAKUBA: Co je a kde se vyskytuje .editor-content-saved-text?
.editor-content-saved-text {
  background: rgba(255,255,255,.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 3;
  overflow: auto;
  box-sizing: border-box;
  padding: 2em;

  .remove {
    margin-left: 1em;
  }

  .item {
    margin-bottom: 1em;
    font-size: 1.5rem;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #eee;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    @extend .ion-ios-close !optional;
  }

}

@keyframes notification {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}
